---
layout: default
---

<div class="container">
  
  <div class="left">
    <img src="{{ site.github.url }}/assets/img/mugshot.png" width="160">
    <div><br></div> 
    <div class="author__urls-wrapper"> 
      <ul class="social-icons">
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> London, UK</li>
        <li><a href="https://scholar.google.co.uk/citations?user=UImWMekAAAAJ"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a>
        <li><a href="https://scholar.google.co.uk/citations?user=UImWMekAAAAJ"><i class="ai ai-google-scholar ai-fw"></i> Google Scholar</a></li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/?term=marcus+pearce&sort=date&sort_order=desc"><i class="ai ai-pubmed ai-fw"></i> PubMed</a></li>
        <li><a href="https://orcid.org/0000-0002-1282-431X"><i class="ai ai-orcid ai-fw"></i> ORCID</a></li>
        <li><a href="https://github.com/mtpearce"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
        <li><a href="https://osf.io/2nxqh/"><i class="ai ai-osf ai-fw"></i> OSF</a></li>
        <li><a href="mailto:marcus.pearce[at]qmul.ac.uk"><meta itemprop="email" content="marcus.pearce.at.qmul.ac.uk"/><i class="fas fa-fw fa-envelope" aria-hidden="true"></i><span class="label"> Email</span></a></li>
      </ul>
    </div> 
  </div>
  
  <div class="right">
    {{ content }}
  </div>
  
</div>

  
